.gcard {
  height: 250px;
  width: 185px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.gimg {
  height: 220px;
  background-color: #353943;
  margin: auto;
  width: 185px;
}

.gtitle {
  color: whitesmoke;
  text-align: left;
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 500;
}

.catimage {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
