.cardStats {
  background-color: #353943;
  width: 178px;
  height: 100px;
  margin-bottom: 10px;
}

.cardTitle {
  color: whitesmoke;
  padding: 2px 8px 2px 8px;
  font-size: 12px;
  background-color: #1e2129;
  display: flex;
}

.cardValue {
  margin: auto;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  padding-top: 20px;
  font-family: sans-serif;
  text-align: center;
}
