/* TRACKER CSGO STYLES ////////////////////////////////////////////////////////// */

.csgo {
  background-color: #2a2d34;
  width: 100%;
  min-height: 630px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.tope {
  height: 100px;
  display: flex;
  align-items: center;
}

.mide {
  height: auto;
  background-color: #353943;
}

.photo {
  background-color: grey;
  height: 110px;
  width: 110px;
}

.name {
  color: whitesmoke;
  font-size: 22px;
  font-weight: 600;
}

.cardMide {
  background-color: #242831;
  height: 90px;
}

.statTitle {
  color: whitesmoke;
  padding: 5px 8px 0px 8px;
  font-size: 14px;
}

.statValue {
  color: #30c5ff;
  margin: auto;
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  font-family: sans-serif;
}

.botte {
  min-height: 250px;
  background-color: #353943;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.imgProfile {
  object-fit: cover;
  width: 100%;
}

/* TRACKER CSGO STYLES END ////////////////////////////////////////////////////////// */
