/* TRACKER DIVISION STYLES ////////////////////////////////////////////////////////// */

.division {
  background-color: #2a2d34;
  width: 100%;
  min-height: 630px;
  padding-top: 35px;
  padding-bottom: 45px;
}

.tope {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #35394350;
}

.mide {
  height: auto;
  background-color: #353943;
  margin-top: 20px;
}

.photo {
  background-color: grey;
  height: 130px;
  width: 130px;
}

.name {
  color: whitesmoke;
  font-size: 22px;
  font-weight: 600;
}

.cardMide {
  background-color: #242831;
  height: 90px;
}

.statTitle {
  color: whitesmoke;
  padding: 2px 8px 2px 8px;
  font-size: 14px;
  display: flex;
  background-color: #1e2129;
}

.statValue {
  color: whitesmoke;
  margin: auto;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  font-family: sans-serif;
}

.botte {
  min-height: 250px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.imgProfile {
  object-fit: cover;
  width: 100%;
}

.loading {
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gLogo {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.notFound {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin-top: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.searchDivision {
  background-color: #50566430;
  border: none;
  border-radius: 0px;
  padding: 10px;
  color: whitesmoke;
}

.searchDivision:focus {
  background-color: #50566430;
  border-bottom: 1px solid orangered;
  outline-color: transparent;
}

.typeTitle {
  font-weight: 600;
  color: whitesmoke;
  font-size: 22px;
  letter-spacing: 1px;
  display: flex;
  background-color: #50566430;
  font-family: Arial, Helvetica, sans-serif;
}

.dot {
  background-color: orangered;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.butPlatform {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid grey;
}

.platButton {
  height: 50px;
  background-color: #50566430;
  flex: 1;
  margin-right: 2px;
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.platButton:hover {
  cursor: pointer;
}

.platPs:hover {
  background-color: rgb(2, 100, 228);
}

.platXbox:hover {
  background-color: rgb(40, 141, 36);
}

.platUbisoft:hover {
  background-color: rgb(2, 171, 228);
}

/* TRACKER DIVISION STYLES END ////////////////////////////////////////////////////////// */
